$widthCell: 35px;

.calendars{
  /*display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;*/
}

.datepicker{
  display: inline-block;
  flex-direction: column;
  width: 306px;
  flex: 306px;
  position: relative;
  margin-right: 10px;
  border-left: solid 1px #e3e3e3;
  border-bottom: solid 1px #e3e3e3;

  .month-name{
    text-align: center;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #aaaaaa;
    display: flex;

    .name{
      flex: 80%;
    }
    .prev,.next{
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
    .prev{
      flex: 5%;
    }
    .next{
      flex: 5%;
    }
  }

  .weeks{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
    .week-day-name{
      flex: auto;
      padding: 5px;
      text-align: center;
    }
  }

  .days{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-start;
    flex-wrap: wrap;
    .day{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 50px;
      position: relative;
      float: left;
      height: 32px;
      text-align: center;
      border-bottom: solid 1px #e3e3e3;
      border-right: solid 1px #e3e3e3;
      padding-top: 3px;
      padding-bottom: 3px;
      border-top: none;
      border-left: none;
      cursor: pointer;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;
      background-color: white;

      &.fill{
        background-color: #f1f1f1;
      }
      &:hover{
        background-color: #c8c8c8;
      }
      &.selected{
        background: #a90329;
        background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
        background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
        background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
        background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
        background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
        color: white;
      }
    }
  }
}